@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(#eb345b, #a558ed);
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#curve1 {
  position: absolute;
  opacity: 1;
  left: -100px;
  top: -8px;
  stroke: white;
  fill: none;
  stroke-width: 10px;
  -webkit-animation: zoom1 2.5s ease infinite;
          animation: zoom1 2.5s ease infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  transform-origin: right;
}

#curve2 {
  position: absolute;
  opacity: 1;
  left: 13px;
  top: -8px;
  stroke: white;
  fill: none;
  stroke-width: 10px;
  -webkit-animation: zoom 2.5s ease infinite;
          animation: zoom 2.5s ease infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#curve3 {
  position: absolute;
  opacity: 1;
  left: -100px;
  top: -8px;
  stroke: white;
  fill: none;
  stroke-width: 10px;
  -webkit-animation: zoom1 2.5s ease infinite;
          animation: zoom1 2.5s ease infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  transform-origin: right;
}

#curve4 {
  position: absolute;
  opacity: 1;
  left: 13px;
  top: -8px;
  stroke: white;
  fill: none;
  stroke-width: 10px;
  -webkit-animation: zoom 2.5s ease infinite;
          animation: zoom 2.5s ease infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#curve5 {
  position: absolute;
  opacity: 1;
  left: -100px;
  top: -8px;
  stroke: white;
  fill: none;
  stroke-width: 10px;
  -webkit-animation: zoom1 2.5s ease infinite;
          animation: zoom1 2.5s ease infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  transform-origin: right;
}

#curve6 {
  position: absolute;
  opacity: 1;
  left: 13px;
  top: -8px;
  stroke: white;
  fill: none;
  stroke-width: 10px;
  -webkit-animation: zoom 2.5s ease infinite;
          animation: zoom 2.5s ease infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#bell {
  fill: #fff;
  -webkit-animation: shake 2.5s ease infinite;
          animation: shake 2.5s ease infinite;
  transform-origin: 50% 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes zoom {
  0%, 20% {
    opacity: 0;
  }
  21% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
    transform: translate3d(40px, 0, 0) scale(2);
  }
}

@keyframes zoom {
  0%, 20% {
    opacity: 0;
  }
  21% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
    transform: translate3d(40px, 0, 0) scale(2);
  }
}
@-webkit-keyframes zoom1 {
  0%, 20% {
    opacity: 0;
  }
  21% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
    transform: translate3d(-40px, 0, 0) scale(2);
  }
}
@keyframes zoom1 {
  0%, 20% {
    opacity: 0;
  }
  21% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
    transform: translate3d(-40px, 0, 0) scale(2);
  }
}
@-webkit-keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0);
  }
  5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
    transform: rotate(6deg);
  }
  45% {
    transform: rotate(4deg);
  }
  7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
    transform: rotate(-6deg);
  }
  47.5% {
    transform: rotate(-2deg);
  }
}
@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0);
  }
  5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
    transform: rotate(6deg);
  }
  45% {
    transform: rotate(4deg);
  }
  7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
    transform: rotate(-6deg);
  }
  47.5% {
    transform: rotate(-2deg);
  }
}